.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  
  button {
    width: 150px;
    display: inline-block;
    padding: 8px 11px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    letter-spacing: 2px;
    outline: none;
    background-color: #4dd0e1;
    background-image: linear-gradient(to right, #4dd0e1, #1ee7e2);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .submitForm{
      display: flex;
      justify-content: space-evenly;
      margin-top: 15%;
  }

  .submitForm, label{
      align-items: center;
  }

  .members{
      display: flex;
      justify-content: space-evenly;
  }
  


 